body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

li > .nav-flush .nav-link {
  border-radius: 0;
}
li >.nav-link.active{
  border: 1px white solid !important;
  border-left-width: 1vh !important;;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

#icon {
  border: 1vh white solid;
  border-radius: 2%;
  max-width: 100%;
}
#footer {
  display: none;
}

.bg-light {
  background-color: white !important;
}
.bg-dark {
  background-color: #1e0027 !important;
}
.ajaxcompleted {
  background: var(--bs-success) !important;
  color: white !important;
  transition: all 1s;
}
.ajaxcompleted:hover {
  transition: all 1s;
  background: #0097B5 !important;
  color: white !important;
}

#producttable_info,#producttable_length,#authortable_info,#authortable_length {
  text-align: left !important;
}

.fixed-custombtn {
    position: fixed !important;
    bottom: 2% !important;
    width: 75% !important;
    z-index: 100 !important;
    box-shadow: 1px 1px 10px #0000007d !important;
}

.admin-sidebar > li > button.nav-link.active {
    border: 2px !important;
    border-color: #6c757d !important;
    border-style: inset !important;
}
.admin-tab-content {
  padding-left:10vh;
  padding-right:10vh;
  padding-top:2vh;
  padding-bottom:10vh;
  height: 85vh;
  overflow-y: scroll;
}
